@model ProductFormViewModel

@{
    ViewData["Title"] = "Add Product";
}

<h1 class="text-center">Add Product</h1>

<partial name="_ProductFormPartial" model="@Model" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
